/App/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/App/obj/Debug/net9.0/compressed/0a3kuku1qh-61n19gt1b8.gz
/App/obj/Debug/net9.0/compressed/1tucwywcdi-c2jlpeoesf.gz
/App/obj/Debug/net9.0/compressed/2b7stfj5pu-xtxxf3hu2r.gz
/App/obj/Debug/net9.0/compressed/2tcjymy8fd-jjsuc0puko.gz
/App/obj/Debug/net9.0/compressed/3asc5scy2s-t1cqhe9u97.gz
/App/obj/Debug/net9.0/compressed/3jv5v5qebc-cosvhxvwiu.gz
/App/obj/Debug/net9.0/compressed/3pxpevx69v-fsbi9cje9m.gz
/App/obj/Debug/net9.0/compressed/3smlhwvsnn-x0q3zqp4vz.gz
/App/obj/Debug/net9.0/compressed/4lme21uiuz-48y08845bh.gz
/App/obj/Debug/net9.0/compressed/4o2dfuryft-03hjc8e09r.gz
/App/obj/Debug/net9.0/compressed/6q5notm6rt-43atpzeawx.gz
/App/obj/Debug/net9.0/compressed/7cixj3ff29-c2oey78nd0.gz
/App/obj/Debug/net9.0/compressed/7leggndgp4-b9sayid5wm.gz
/App/obj/Debug/net9.0/compressed/7ybiogk6w2-gk0pw8i4co.gz
/App/obj/Debug/net9.0/compressed/8s2kum16ea-tmc1g35s3z.gz
/App/obj/Debug/net9.0/compressed/19flbs6jbs-356vix0kms.gz
/App/obj/Debug/net9.0/compressed/33vdswipp6-zub09dkrxp.gz
/App/obj/Debug/net9.0/compressed/59qeosnhe0-87fc7y1x7t.gz
/App/Views/Shared/_Layout.cshtml
/App/Views/Shared/_Layout.cshtml.css
/App/obj/Debug/net9.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/App/Views/Shared/_ValidationScriptsPartial.cshtml
/App/Views/_ViewImports.cshtml
/App/Views/_ViewStart.cshtml
/App/obj/Debug/net9.0/compressed/a3ij0c17u0-pj5nd1wqec.gz
/App/obj/Debug/net9.0/compressed/abnnommg4i-ttgo8qnofa.gz
/App/wwwroot/lib/jquery-validation/dist/additional-methods.js
/App/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
/App/Exported/Memgraph/edges/advisor_of.csv
/App/obj/Debug/net9.0/App.AssemblyInfo.cs
/App/obj/Debug/net9.0/App.AssemblyInfoInputs.cache
/App/obj/Debug/net9.0/App.assets.cache
/App/obj/Debug/net9.0/scopedcss/projectbundle/App.bundle.scp.css
/App/App.csproj
/App/obj/Debug/net9.0/App.csproj.AssemblyReference.cache
/App/obj/Debug/net9.0/App.csproj.CoreCompileInputs.cache
/App/obj/Debug/net9.0/App.csproj.FileListAbsolute.txt
/App/obj/App.csproj.nuget.dgspec.json
/App/obj/App.csproj.nuget.g.props
/App/obj/App.csproj.nuget.g.targets
/App/obj/Debug/net9.0/App.csproj.Up2Date
/frontend/src/App.css
/App/bin/Debug/net9.0/App.deps.json
/App/bin/Debug/net9.0/App.dll
/App/obj/Debug/net9.0/ref/App.dll
/App/obj/Debug/net9.0/refint/App.dll
/App/obj/Debug/net9.0/App.dll
/App/bin/Debug/net9.0/App.exe
/App/obj/Debug/net9.0/App.GeneratedMSBuildEditorConfig.editorconfig
/App/obj/Debug/net9.0/App.genruntimeconfig.cache
/App/obj/Debug/net9.0/App.GlobalUsings.g.cs
/frontend/src/App.js
/App/obj/Debug/net9.0/App.MvcApplicationPartsAssemblyInfo.cache
/App/bin/Debug/net9.0/App.pdb
/App/obj/Debug/net9.0/App.pdb
/App/obj/Debug/net9.0/App.RazorAssemblyInfo.cache
/App/obj/Debug/net9.0/App.RazorAssemblyInfo.cs
/App/bin/Debug/net9.0/App.runtimeconfig.json
/App/obj/Debug/net9.0/App.sourcelink.json
/App/bin/Debug/net9.0/App.staticwebassets.endpoints.json
/App/bin/Debug/net9.0/App.staticwebassets.runtime.json
/App/obj/Debug/net9.0/scopedcss/bundle/App.styles.css
/App/obj/Debug/net9.0/apphost.exe
/App/bin/Debug/net9.0/appsettings.Development.json
/App/appsettings.Development.json
/App/bin/Debug/net9.0/appsettings.json
/App/appsettings.json
/App/Exported/Memgraph/nodes/awards.csv
/App/obj/Debug/net9.0/compressed/axyhyzxvhr-r4e9w2rdcm.gz
/App/obj/Debug/net9.0/compressed/bio8rn7jgy-qesaa3a1fm.gz
/App/obj/Debug/net9.0/compressed/bnon35ekkf-ft3s53vfgj.gz
/App/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
/App/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
/App/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
/App/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
/App/wwwroot/lib/bootstrap/dist/css/bootstrap.css
/App/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
/App/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js
/App/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js.map
/App/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js
/App/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js.map
/App/wwwroot/lib/bootstrap/dist/js/bootstrap.js
/App/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
/App/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
/App/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
/App/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
/App/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
/App/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css
/App/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css.map
/App/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
/App/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css.map
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
/App/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
/App/obj/Debug/net9.0/compressed/bq6oqd0d20-hd3gran6i8.gz
/App/obj/Debug/net9.0/compressed/c5jaszmds2-sejl45xvog.gz
/App/obj/Debug/net9.0/compressed/c231vd2ydr-d4r6k3f320.gz
/App/bin/Debug/net9.0/CsvHelper.dll
/App/Export/CsvWriter.cs
/App/obj/Debug/net9.0/compressed/csz9hblgg6-6pdc2jztkx.gz
/App/obj/Debug/net9.0/compressed/d91aqsfslq-keugtjm085.gz
/App/Database/DataFetcher1.cs
/App/obj/Debug/net9.0/compressed/dc5gv72kb6-jd9uben2k1.gz
/App/obj/Debug/net9.0/compressed/dqkvgsaaae-kjl1uudz6h.gz
/App/obj/Debug/net9.0/compressed/dyrdolv4sl-m9qm4tazc0.gz
/App/obj/Debug/net9.0/compressed/ed7sxequd8-d6nrnj6jjx.gz
/App/Views/Shared/Error.cshtml
/App/Models/ErrorViewModel.cs
/App/obj/Debug/net9.0/compressed/f98oh7tzjq-hrwsygsryq.gz
/App/Exported/Memgraph/edges/father_of.csv
/App/wwwroot/favicon.ico
/App/Models/Field.cs
/App/Exported/Memgraph/nodes/fields.csv
/App/Exported/Oracle/oracle/fields.csv
/App/obj/Debug/net9.0/compressed/forglfiq68-c63t5i9ira.gz
/App/obj/Debug/net9.0/compressed/g6stkzn8ym-h1s4sie4z3.gz
/frontend/src/components/GraphVisualization.js
/App/obj/Debug/net9.0/compressed/gyzti6a99x-aexeepp0ev.gz
/App/obj/Debug/net9.0/compressed/hgkh0xebpn-8vyfqsqgz1.gz
/App/obj/Debug/net9.0/compressed/hhzu5gvyfh-fvhpjtyr6v.gz
/App/Controllers/HomeController.cs
/App/Views/Home/Index.cshtml
/App/Exported/Memgraph/edges/influenced_by.csv
/App/Models/Item.cs
/App/obj/Debug/net9.0/compressed/je75s4j2hj-j5mq2jizvt.gz
/App/wwwroot/lib/jquery/dist/jquery.js
/App/wwwroot/lib/jquery/dist/jquery.min.js
/App/wwwroot/lib/jquery/dist/jquery.min.map
/App/wwwroot/lib/jquery/dist/jquery.slim.js
/App/wwwroot/lib/jquery/dist/jquery.slim.min.js
/App/wwwroot/lib/jquery/dist/jquery.slim.min.map
/App/wwwroot/lib/jquery-validation/dist/jquery.validate.js
/App/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
/App/wwwroot/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js
/App/wwwroot/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js
/App/obj/Debug/net9.0/compressed/k8havp8ehv-4d85u1mtcx.gz
/KnowledgeGraph.sln
/App/Properties/launchSettings.json
/App/obj/Debug/net9.0/compressed/leylizny6v-kjl1uudz6h.gz
/App/wwwroot/lib/bootstrap/LICENSE
/App/wwwroot/lib/jquery-validation/LICENSE.md
/App/wwwroot/lib/jquery/LICENSE.txt
/App/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
/App/obj/Debug/net9.0/compressed/lw76n9mhuh-worgj0nhwm.gz
/App/Export/MemgraphCsvSchema.cs
/App/bin/Debug/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
/App/bin/Debug/net9.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/App/bin/Debug/net9.0/Microsoft.Win32.SystemEvents.dll
/App/Exported/Memgraph/edges/mother_of.csv
/App/obj/Debug/net9.0/compressed/mrpzewuhrq-mrlpezrjn3.gz
/App/obj/Debug/net9.0/staticwebassets/msbuild.App.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/App/obj/Debug/net9.0/staticwebassets/msbuild.App.Microsoft.AspNetCore.StaticWebAssets.props
/App/obj/Debug/net9.0/staticwebassets/msbuild.build.App.props
/App/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.App.props
/App/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.App.props
/App/obj/Debug/net9.0/compressed/ne80k40s9y-ausgxo2sd3.gz
/App/bin/Debug/net9.0/Neo4j.Driver.dll
/App/bin/Debug/net9.0/Newtonsoft.Json.dll
/App/obj/Debug/net9.0/compressed/nnqf3n7i2l-kbrnm935zg.gz
/App/Models/Occupation.cs
/App/Exported/Memgraph/nodes/occupations.csv
/App/bin/Debug/net9.0/Oracle.ManagedDataAccess.dll
/App/Export/OracleCsvSchema.cs
/App/obj/Debug/net9.0/compressed/oubkhr4cm5-y7v9cxd14o.gz
/App/Exported/Memgraph/edges/partner_of.csv
/App/Models/Person.cs
/App/Exported/Oracle/oracle/person_fields.csv
/App/Exported/Memgraph/edges/person_to_award.csv
/App/Exported/Memgraph/edges/person_to_birth_in.csv
/App/Exported/Memgraph/edges/person_to_died_in.csv
/App/Exported/Memgraph/edges/person_to_field.csv
/App/Exported/Memgraph/edges/person_to_national_of.csv
/App/Exported/Memgraph/edges/person_to_occupation.csv
/App/Exported/Memgraph/edges/person_to_work.csv
/App/Exported/Memgraph/edges/person_workplaces.csv
/App/Exported/Oracle/oracle/person_workplaces.csv
/App/Exported/Memgraph/nodes/persons.csv
/App/Exported/Oracle/oracle/persons.csv
/App/Exported/Memgraph/nodes/places.csv
/App/obj/Debug/net9.0/compressed/plg6u7vfpb-wl58j5mj3v.gz
/App/Views/Home/Privacy.cshtml
/App/Program.cs
/App/obj/project.assets.json
/App/obj/project.nuget.cache
/App/obj/project.packagespec.json
/Projekt_Praesentation.pptx
/Präsentation1_Oracle.pptx
/App/obj/Debug/net9.0/compressed/q7wg78fiw4-ltid2c489k.gz
/App/obj/Debug/net9.0/compressed/r4riabqqjz-0j3bgjxly4.gz
/App/Models/RelatedPerson.cs
/App/Exported/Oracle/oracle/relationships.csv
/App/Exported/Memgraph/edges/relative_of.csv
/App/obj/rider.project.model.nuget.info
/App/obj/rider.project.restore.info
/App/obj/Debug/net9.0/compressed/rj8xjdlpqg-xvp3kq03qx.gz
/App/obj/Debug/net9.0/compressed/rtexlu9stj-rxsg74s51o.gz
/App/Exported/Memgraph/edges/significant_person_for.csv
/App/wwwroot/css/site.css
/App/wwwroot/js/site.js
/App/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/App/obj/Debug/net9.0/staticwebassets.build.json
/App/obj/Debug/net9.0/staticwebassets.development.json
/App/obj/Debug/net9.0/staticwebassets.pack.json
/App/Exported/Memgraph/edges/student_of.csv
/App/bin/Debug/net9.0/System.Configuration.ConfigurationManager.dll
/App/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Diagnostics.PerformanceCounter.dll
/App/bin/Debug/net9.0/System.Diagnostics.PerformanceCounter.dll
/App/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.DirectoryServices.dll
/App/bin/Debug/net9.0/System.DirectoryServices.dll
/App/bin/Debug/net9.0/runtimes/linux/lib/net6.0/System.DirectoryServices.Protocols.dll
/App/bin/Debug/net9.0/runtimes/osx/lib/net6.0/System.DirectoryServices.Protocols.dll
/App/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.DirectoryServices.Protocols.dll
/App/bin/Debug/net9.0/System.DirectoryServices.Protocols.dll
/App/bin/Debug/net9.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/App/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/App/bin/Debug/net9.0/System.Drawing.Common.dll
/App/bin/Debug/net9.0/System.Linq.Async.dll
/App/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/App/bin/Debug/net9.0/System.Security.Cryptography.ProtectedData.dll
/App/bin/Debug/net9.0/System.Security.Permissions.dll
/App/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/App/bin/Debug/net9.0/System.Windows.Extensions.dll
/App/obj/Debug/net9.0/compressed/t0q7oilju9-9vr69e8ynj.gz
/App/obj/Debug/net9.0/compressed/tmhh4sfg21-ynyaa8k90p.gz
/App/obj/Debug/net9.0/compressed/uzz6yw01li-22vffe00uq.gz
/App/obj/Debug/net9.0/compressed/v20al4f3ko-nvvlpmu67g.gz
/App/obj/Debug/net9.0/compressed/vgec2jx6vw-iovd86k7lj.gz
/App/obj/Debug/net9.0/compressed/wd0h1qme24-83jwlth58m.gz
/App/Database/WikidataEntityMapper.cs
/App/Database/WikidataLabelService.cs
/App/Database/WikidataRelationshipFetcher.cs
/App/Helpers/WikidataTypeService.cs
/App/Exported/Memgraph/nodes/workplaces.csv
/App/Exported/Oracle/oracle/workplaces.csv
/App/Exported/Memgraph/nodes/works.csv
/App/obj/Debug/net9.0/compressed/wv24goepod-4094rpi4f9.gz
/App/obj/Debug/net9.0/compressed/xaeueofg3g-ee0r1s7dh0.gz
/App/obj/Debug/net9.0/compressed/xl2myhteli-gye83jo8yx.gz
/App/obj/Debug/net9.0/compressed/xm4rcbacct-q9ht133ko3.gz
/App/obj/Debug/net9.0/compressed/ycm86nfr1d-mlv21k5csn.gz
/App/obj/Debug/net9.0/compressed/z5awhd86qx-u9q1upor1n.gz
/App/obj/Debug/net9.0/compressed/zzvpyjdqg7-v0zj4ognzu.gz
